.archived__section {
  width: 100%;
  padding: 0 4%;
  margin: 30px auto;
  justify-content: center;
  z-index: -1;
}
.archived__section .archived__notes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.archived__section-status h1 {
  color: #0ea5e9;
  margin-bottom: 30px;
  font-size: 1.5rem;
}
.note__list-empty {
  font-size: 1.5rem;
  color: #0ea5e9;
  margin: 30px auto;
}
@media screen and (max-width: 576px) {
  .archived__section .archived__notes {
    grid-template-columns: repeat(1, 1fr);
  }
  .note__list-empty {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 578px) and (max-width: 900px) {
  .archived__section .archived__notes {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width: 901px) and (max-width: 1200px) {
  .archived__section .archived__notes {
    grid-template-columns: repeat(3, 1fr);
  }
}
